section.presentation {
  background-image: url('https://mediablog.cdnpk.net/uploads/2020/02/2583810.jpg');
  background-size: cover;
}

.card-container {
  /* background-color: rgb(2, 151, 102); */
  /* height: 100vh; */
  background: rgba(209, 209, 226, 0.8);
  display: flex;
  justify-content: center;  
  flex-direction: column;


}

.card-container pre {
  font-family: "Festive", cursive;
  font-size: 2rem;
  position: absolute;
  top: 7%;
  float: left;
  opacity: 10%;
}

.card {
  /* border: 2px solid black; */
  /* height: 90vh; */
  /* padding: 1.5em; */
  /* background-color: rgb(158, 0, 0); */
  color: #3F0071;
  /* width: 20vw; */
  /* margin: 2.5em; */
  /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center; */
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 1.5em;
  justify-content: center;
}

.title-card {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

.title-card img {
  width: 20%;
}

.title-card h1 {
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
  text-transform: uppercase;
  color: #3F0071;

}

.card p {
  padding: 0.6em;
  /* text-align: center; */
  font-weight: bold;
  font-size: 1.3em;
}

.card img {
  width: 15em;
  height: 20em;
  padding: 2.0em;
  border-radius: 600px;
  position: absolute;

}

h3 {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  background-color: #2e2f5b;
  padding: 1em;
  color: #F4D35E;
}


/* -------------------------------- 

File#: _1_diagonal-section
Title: Diagonal Section
Descr: Section with diagonal edges
Usage: codyhouse.co/license

-------------------------------- */
:root {
  --diagonal-section-offset: 50px;
}

.diagonal-section,
.diagonal-section-top,
.diagonal-section-bottom {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@supports ((-webkit-clip-path: inset(50%)) or (clip-path: inset(50%))) {

  .diagonal-section,
  .diagonal-section-top.diagonal-section-bottom {
    padding-top: calc(var(--diagonal-section-offset)/2);
    padding-bottom: calc(var(--diagonal-section-offset)/2);
    -webkit-clip-path: polygon(0% 0%, 100% var(--diagonal-section-offset), 100% 100%, 0% calc(100% - var(--diagonal-section-offset)));
    clip-path: polygon(0% 0%, 100% var(--diagonal-section-offset), 100% 100%, 0% calc(100% - var(--diagonal-section-offset)));
    background-color: #2e2f5b;
    height: 106vw;
  }

  .diagonal-section--flip-x {
    -webkit-clip-path: polygon(0% var(--diagonal-section-offset), 100% 0%, 100% calc(100% - var(--diagonal-section-offset)), 0% 100%);
    clip-path: polygon(0% var(--diagonal-section-offset), 100% 0%, 100% calc(100% - var(--diagonal-section-offset)), 0% 100%);
  }

  .diagonal-section-top {
    padding-top: calc(var(--diagonal-section-offset)/2);
    -webkit-clip-path: polygon(0% 0%, 100% var(--diagonal-section-offset), 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% var(--diagonal-section-offset), 100% 100%, 0% 100%);
  }

  .diagonal-section-top--flip-x {
    -webkit-clip-path: polygon(0% var(--diagonal-section-offset), 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% var(--diagonal-section-offset), 100% 0%, 100% 100%, 0% 100%);
  }

  .diagonal-section-top--flip-x.diagonal-section-bottom {
    -webkit-clip-path: polygon(0% var(--diagonal-section-offset), 100% 0%, 100% 100%, 0% calc(100% - var(--diagonal-section-offset)));
    clip-path: polygon(0% var(--diagonal-section-offset), 100% 0%, 100% 100%, 0% calc(100% - var(--diagonal-section-offset)));
  }

  .diagonal-section-bottom {
    padding-bottom: calc(var(--diagonal-section-offset)/2);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - var(--diagonal-section-offset)));
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - var(--diagonal-section-offset)));
  }

  .diagonal-section-bottom--flip-x {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--diagonal-section-offset)), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--diagonal-section-offset)), 0% 100%);
  }

  .diagonal-section-bottom--flip-x.diagonal-section-top {
    -webkit-clip-path: polygon(0% 0%, 100% var(--diagonal-section-offset), 100% calc(100% - var(--diagonal-section-offset)), 0% 100%);
    clip-path: polygon(0% 0%, 100% var(--diagonal-section-offset), 100% calc(100% - var(--diagonal-section-offset)), 0% 100%);
  }

  .diagonal-section-top--flip-x.diagonal-section-bottom--flip-x {
    -webkit-clip-path: polygon(0% var(--diagonal-section-offset), 100% 0%, 100% calc(100% - var(--diagonal-section-offset)), 0% 100%);
    clip-path: polygon(0% var(--diagonal-section-offset), 100% 0%, 100% calc(100% - var(--diagonal-section-offset)), 0% 100%);
  }
}