nav {
    /* background-color: #EEEEEE; */
    padding: 1.5em;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;    
}

nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;       
}

nav ul li {
    list-style: none;
    padding: 0.5em;
}


nav ul li a {
    text-decoration: none;
    color:#3F0071;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.1rem;
}

nav ul li a:hover {
    /* background-color: rgb(174, 112, 255); */
    /* padding: 1em; */
    /* text-decoration: underline; */
    color: #7200c1;
}

.logo img {
    width: 250px;
    height: 50px;
    float: left;
}